@model MonthlyProjectCodeFirst.DAL.Product_Sales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product_Sales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchase_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchase_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sale_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sale_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sales_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sales_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
