@model IEnumerable<MonthlyProjectCodeFirst.DAL.Product_Sales>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchase_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sale_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sales_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchase_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sales_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.sale_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.sale_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.sale_id })
        </td>
    </tr>
}

</table>
