@model IEnumerable<MonthlyProjectCodeFirst.DAL.Student>

@{
    ViewBag.Title = "View2";
}

<h2 style="text-align:center; background-color:aqua; font-size:xx-large;">Student Table With Images</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.@class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_path)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.studentname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.@class)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.date)
    </td>
    <td>
        <img src="@Url.Content(item.image_path)" height="100" width="100" />
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Studentid }) |
        @Html.ActionLink("Details", "Details", new { id = item.Studentid }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Studentid })
    </td>
</tr>
}

</table>
